*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    display: flex;
    justify-content: space-between;
}
nav{
    width: 100%;
    top: 0%;
    left: 0%;
    position: fixed;
    display: flex;
    align-items: center;
}
nav ul{
    flex: auto;
    text-align: center;
}
nav ul li{
    display: inline-block;
    margin: 15px 30px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: red;
}
.logo{
    width: 120px;
    cursor: pointer;
    margin-left: 10px;
}
.logo:hover{
    filter:invert();
}
.btn{
    margin-right: 30px;
    border: 2px solid white;
    padding: 2px 18px;
    border-radius: 30px;
}

